@using Microsoft.AspNet.Http
@model HttpResponse

<table class="table table-condensed table-striped table-bordered">
    <tr>
        <td>Response</td>
        <td>
            <div>Cookies</div>
            <div>ContentyType</div>
            <div>Headers</div>
            <div>StatusCode</div>
            <div>Body</div>
        </td>
    </tr>
</table>