@using Microsoft.AspNet.Http
@model HttpRequest

<table class="table table-condensed table-striped table-bordered">
    <tr>
        <td>Request</td>
        <td>
            <div>Cookies</div>
            <div>HasFormContentType</div>
            <div>Host</div>
            <div>IsHttps</div>
            <div>Method</div>
            <div>Path</div>
            <div>PathBase</div>
            <div>Protocol</div>
            <div>Query</div>
            <div>Scheme</div>
        </td>
    </tr>
</table>