@model IUrlHelper

<div class="lead">Utility methods</div>
<ul class="list-group">
    <li class="list-group-item">IUrlHelper.Action(controller, action, parameters, protocol, host, fragment)</li>
    <li class="list-group-item">IUrlHelper.Content(virtualPath)</li>
    <li class="list-group-item">IUrlHelper.Link(routeName, parameters)</li>
    <li class="list-group-item">IUrlHelper.RouteUrl(routeName, parameters, protocol, host, fragment)</li>
    <li class="list-group-item">IUrlHelper.IsLocalUrl(url)</li>
</ul>