<div class="lead">HTTP helpers</div>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="GetHttpContext">HttpContext</a></li>
    <li class="list-group-item"><a asp-action="GetHttpRequest">HttpRequest</a></li>
    <li class="list-group-item"><a asp-action="GetHttpResponse">HttpResponse</a></li>
</ul>
<div class="lead">Controller helpers</div>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="GetActionContext" asp-route-id="5">ActionContext</a></li>
    <li class="list-group-item"><a asp-action="GetUrl">Url</a></li>
    <li class="list-group-item"><a asp-action="GetUser">User</a></li>
    <li class="list-group-item"><a asp-action="GetRouteData">RouteData</a></li>
    <li class="list-group-item"><a asp-action="GetResolver">Resolver</a></li>
    <li class="list-group-item"><a asp-action="GetTempData">TempData</a></li>
</ul>
<div class="lead">Model helpers</div>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="GetBindingContext">BindingContext</a></li>
    <li class="list-group-item"><a asp-action="GetMetadataProvider">MetadataProvider</a></li>
    <li class="list-group-item"><a asp-action="GetModelState">ModelState</a></li>
    <li class="list-group-item"><a asp-action="GetObjectValidator">ObjectValidator</a></li>
</ul>
<div class="lead">View helpers</div>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="GetViewBag">ViewBag</a></li>
    <li class="list-group-item"><a asp-action="GetViewData">ViewData</a></li>
</ul>