@using Microsoft.AspNet.Http
@model IFormFile
<pre>
public IActionResult FormFile(IFormFile formFile)

&lt;form asp-action=&quot;FormFile&quot; method=&quot;post&quot; class=&quot;form-inline&quot; enctype=&quot;multipart/form-data&quot;&gt;
    &lt;input class=&quot;form-control&quot; type=&quot;file&quot; name=&quot;formFile&quot; /&gt;
    &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</pre>
<ul class="list-group">
    <li class="list-group-item">ContentDisposition = <b>@Model.ContentDisposition</b></li>
    <li class="list-group-item">ContentType = <b>@Model.ContentType</b></li>
    <li class="list-group-item">Length = <b>@Model.Length</b></li>
</ul>
